{%load static %}

<style>
    body {
        background-color: goldenrod;   
    }

    div {
        font-family:"Georgia";
        text-align:center;
        width:50%;
        margin:auto;
    }

    a {text-decoration: none;}

    a:link{
        color:black;
    }

    a:visited {
        color:black;
        text-decoration: none;
    }

    a:hover {
        color:olivedrab;
    }

</style>

<img src="{%static '2.jfif'%}" style="max-width: 100%;">

<div>

    <h1>❁ Blog YOUNG ❁</h1>

    <a href="{% url 'new' %}" style="color:olivedrab;font-style: italic;font-weight:bold;">New!</a>

    {% for blog in blogs%}  
    <!-- blogs를 blog라는 변수에 넣어서 보여준다. -->

    <hr>
    <a href="{% url 'detail' blog.id %}">
    {{blog.title}}
    <br>
    {{blog.pub_date}}</p>
    <br>
    {{blog.summary}}
    <br>
    {% if blog.image %}
    <!-- if 꼭 해줘야한다 안하면 그림 없을 때 오류남ㅠㅠ! -->
    <img src="{{blog.image.url}}">
    {% endif %}
    </a>

    {% endfor %}
</div>